PORT=3101
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/restaurant?schema=public"
VERIFY_EMAIL_URL=http://localhost:3100/verify-email
PASSWORD_RESET_URL=http://localhost:3100/reset-password
FRONTEND_PUBLIC_URL=http://localhost:3100
BACKEND_PUBLIC_URL=http://localhost:3101

JWT_SECRET=change-me-in-production

# Monobank Acquiring merchant token (not personal client-info token)
MONOBANK_TOKEN=uh-rpgCQqt4CSgK_p5q5QP8Sk4eVMMOfndrXdWIZ-qSc

MAIL_PROVIDER=sendgrid
MAIL_FROM=your-verified-sender@example.com
SEND_GRID_API_KEY=
