PORT=3001
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/restaurant?schema=public"
VERIFY_EMAIL_URL=http://localhost:3000/verify-email

JWT_SECRET=change-me-in-production

MAIL_PROVIDER=sendgrid
MAIL_FROM=your-verified-sender@example.com
SEND_GRID_API_KEY=
